
* {
	font-family: sans-serif;
	/* debug */
	/* border: pink solid 1px; */
}

body {
	background-color: dimgray;
	margin: 0;
}

#attract {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: orange;
}

.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#attract-overlay {
	height: 100vh;
	position: absolute;
	width: 100%;
	color: white;
}

#attract-overlay p {
	font-size: 5vw;
	padding: 20% 10vw;
}

.logo {
	width: 100px;
}

h1 {
	font-size: 10vw;
	color: white;
	margin: 0;
	padding: 0.5em;
	background-color: rgb(10, 20, 200);
	transform: rotate(0deg) translatey(0);
	mix-blend-mode: color-dodge;
}

h2 {
	font-size: 5vw;
	color: white;
	margin: 0;
	padding: 0.5em;
	background-color: rgb(0, 0, 0);
	transform: rotate(0deg) translatey(0);
	mix-blend-mode: multiply;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item  {
	width: 33.3%;
	background-color: rgba(205, 77, 177, 0.5);
	/* border: 0.1px solid pink; */
}

.item img{
	width: 100%;
	height: 100%;
}

.item video{
	width: 100%;
	height: 100%;
}

footer {
	color: gray;
	background-color: yellow;
	padding; 2em;
	overflow: hidden;
}

footer p {
	margin: 0;
	padding: 1em;
}