* {
	font-family: sans-serif;
	/* debug */
	/* border: pink solid 1px; */
}

body {
	background-color: dimgray;
	margin: 0;
}

#attract {
	width: 100%;
	overflow: hidden;
	background-color: orange;
	position: relative;
}

#attract * {
	/* Gets rids of line height of img inline element */
	/* Same result as setting parent div's line-height: 0 */
	display: block;
}

.caption {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0em 2em;
	/* font-size: 2em; */
	background-color: rgba(255,255,255,0.8);
	color: dimgray;
}

.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item *{
	/* Gets rids of line height of contained inline element */
	display: block;
}

.item img{
	width: 100%;
	height: 100%;
}

.item video{
	width: 100%;
	height: 100%;
}

footer {
	color: lightgray;
	background-color: dimgray;
	padding; 2em;
	overflow: hidden;
}

footer p {
	margin: 0;
	padding: 1em;
}

#navbar {
	height: 3em;
	position: fixed;
	width: 100%;
	display: flex;
	/* Setting z-index ensures navbar will be on top of video controls */
	z-index: 1;
	background-color: rgba(50,150,200,0.5);
}

#navbar a, span {
	text-decoration: none;
	padding: 1em 1.5em;
	color: white;
}

#navbar *:hover {
	background-color: rgba(200,200,255,0.2);
}

#icon {
	position: absolute;
	right: 0;
	width: 2em;
	height: 2em;
}

.name {
	background-color: rgba(100,100,255,0.2);
}

/* Small screen */
@media screen and (max-width: 600px) {
	#navbar {
		flex-direction: column;
	}

	.link  {
		display: none;
	}

	.name {
		display: block;
	}

	#hamburger {
		display: block;
		align-self: flex-end;
		position: absolute;
		cursor: pointer;
	}

	.item  {
		width: 100%;
	}

	.show {
		display: block;
	}
}

/* Big screen */
@media screen and (min-width: 601px) {
	#navbar {
		/* flex-direction: row; */
	}

	.link {
		display: block;
		font-size: 1em;
	}

	#hamburger {
		display: none;
	}

	#attract {
		height: 100vh;
	}

	.item  {
		width: 50%;
	}
}