
* {
	font-family: sans-serif;
	/* debug */
	/* border: pink solid 1px; */
}

body {
	background-color: rgb(200, 228, 228);
	margin: 0;
}

#attract {
	/* width: 100%; */
	/* background-color: gray; */
	/* margin: 0; */
	/* min-height: 30em; */
	position: absolute;
	width: 66.6vw;
}
h1 {
	font-size: 6em;
	color: white;
	margin: 0;
	padding: 0.5em;
	background-color: rgb(85, 250, 168);
	transform: rotate(0deg) translatey(0);
	mix-blend-mode: hard-light;
}

h2 {
	font-size: 6em;
	color: white;
	margin: 0;
	padding: 0.5em;
	background-color: rgb(88, 255, 227);
	transform: rotate(0deg) translatey(0);
	mix-blend-mode: exclusion;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item  {
	width: 33.3%;
	background-color: rgba(205, 77, 177, 0.5);
	/* border: 0.1px solid pink; */
}

.item img{
	width: 100%;
	height: 100%;
}

.item video{
	width: 100%;
	height: 100%;
}